Repository serlo/frontend, pull requests merged in 2023-07, with the labels that each got.

#2562 geogebra: replace iframe
  src/components/content/geogebra.tsx
  src/components/content/privacy-wrapper.tsx
  src/serlo-editor/plugins/geogebra/editor.tsx
  src/serlo-editor/plugins/geogebra/renderer.tsx
Labels: feature branch

#2577 editor: exercise fixes
  src/data/en/index.ts
  src/helper/has-visible-content.ts
  src/serlo-editor/plugins/input-exercise/editor.tsx
Labels: regression, serlo-editor

#2566 refactor template plugins and fix horizontal spacings
  src/assets-webkit/styles/serlo-tailwind.css
  src/components/content/entity.tsx
  src/components/content/exercises/exercise.tsx
  src/components/content/exercises/solution.tsx
  src/components/content/multimedia.tsx
  src/components/pages/editor/education-plugin-examples.tsx
  src/components/taxonomy/topic.tsx
  src/pages/entity/link/order/[id]/link.tsx
  src/schema/article-renderer.tsx
  src/serlo-editor-integration/editor-response-to-state.ts
  src/serlo-editor-integration/plugins.tsx
  src/serlo-editor/editor-ui/document-editor.tsx
  src/serlo-editor/editor-ui/embed-wrapper.tsx
  src/serlo-editor/plugin/helpers/semantic-section.tsx
  src/serlo-editor/plugins/geogebra/editor.tsx
  src/serlo-editor/plugins/highlight/renderer.tsx
  src/serlo-editor/plugins/multimedia/editor.tsx
  src/serlo-editor/plugins/multimedia/renderer.tsx
  src/serlo-editor/plugins/serlo-template-plugins/applet.tsx
  src/serlo-editor/plugins/serlo-template-plugins/article.tsx
  src/serlo-editor/plugins/serlo-template-plugins/common/common.tsx
  src/serlo-editor/plugins/serlo-template-plugins/course.tsx
  src/serlo-editor/plugins/serlo-template-plugins/course/course-navigation.tsx
  src/serlo-editor/plugins/serlo-template-plugins/course/course-page.tsx
  src/serlo-editor/plugins/serlo-template-plugins/course/course.tsx
  src/serlo-editor/plugins/serlo-template-plugins/event.tsx
  src/serlo-editor/plugins/serlo-template-plugins/page.tsx
  src/serlo-editor/plugins/serlo-template-plugins/taxonomy.tsx
  src/serlo-editor/plugins/serlo-template-plugins/text-exercise-group.tsx
  src/serlo-editor/plugins/serlo-template-plugins/text-exercise.tsx
  src/serlo-editor/plugins/serlo-template-plugins/text-solution.tsx
  src/serlo-editor/plugins/serlo-template-plugins/user.tsx
  src/serlo-editor/plugins/serlo-template-plugins/video.tsx
  src/serlo-editor/plugins/solution/index.tsx
  src/serlo-editor/plugins/solution/renderer.tsx
  src/serlo-editor/plugins/video/editor.tsx
  src/serlo-editor/plugins/video/renderer.tsx
Labels: serlo-editor

#2474 editor: persisting plugin id, expose id to frontend
  src/serlo-editor-integration/editor-response-to-state.ts
  src/serlo-editor/plugin/child.tsx
Labels: serlo-editor

#2599 feat(plugin-image): add plugin-toolbar
  src/serlo-editor/core/plugin-toolbar/dropdown/default-controls.tsx
  src/serlo-editor/plugins/image/editor.tsx
  src/serlo-editor/plugins/image/index.ts
  src/serlo-editor/plugins/text/components/hovering-toolbar-button.tsx
  src/serlo-editor/plugins/text/components/hovering-toolbar-controls.tsx
  src/serlo-editor/plugins/text/components/hovering-toolbar.tsx
  src/serlo-editor/plugins/text/components/inline-text-editor.tsx
  src/serlo-editor/plugins/text/components/link/edit-mode/link-overlay-edit-mode.tsx
  src/serlo-editor/plugins/text/components/link/link-controls.tsx
  src/serlo-editor/plugins/text/components/link/link-overlay-with-href.tsx
  src/serlo-editor/plugins/text/components/text-editor-wrapper.tsx
  src/serlo-editor/plugins/text/components/text-editor.tsx
  src/serlo-editor/plugins/text/components/text-leaf-renderer.tsx
  src/serlo-editor/plugins/text/hooks/use-formatting-options.tsx
  src/serlo-editor/plugins/text/hooks/use-text-config.tsx
  src/serlo-editor/plugins/text/index.tsx
  src/serlo-editor/plugins/text/types/config.ts
Labels: serlo-editor

#2600 Rename `DocumentEditor` to `SettingsAndToolbar` & some code documentation comments
  src/serlo-editor/core/sub-document/editor.tsx
  src/serlo-editor/core/sub-document/index.tsx
  src/serlo-editor/editor-ui/document-editor.tsx
Labels: serlo-editor
